strong
{
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: bold;
}

h1
{
	font-size: 200%;
	margin-bottom: 20px;
}

h2
{
	font-size: 180%;
	margin-bottom: 18px;
}

h3
{
	font-size: 160%;
	margin-bottom: 16px;
}

h4
{
	font-size: 140%;
	margin-bottom: 14px;
}

h5
{
	font-size: 120%;
	margin-bottom: 12px;
}

h6
{
	font-size: 100%;
	margin-bottom: 10px;
}

address
{
	font-style: italic;
}

pre
{
	font-family: Courier New;
}